<form method="POST" action="/new">
  <title>New Message</title>
  <label for="author"> Name <input name="author" type="text" /> </label>
  <label for="messageText">
    Message <input name="messageText" type="text" />
  </label>
  <button type="submit">Post</button>
</form>
